* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  font-family: "DungGeunMo";
}
*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
#root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
html,
body {
  background-color: #031e38;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

main {
  max-width: 400px;
  max-height: 650px;
  height: 100vh;
  margin: auto;
  padding-top: 30px;
  position: relative;
}

.agent1 {
  background-image: url("./assets/agent1.jpeg");
  background-position: 65% -35%;
  background-size: 120%;
}
.agent2 {
  background-image: url("./assets/agent2.jpeg");
  background-position: 50% -40%;
  background-size: 130%;
}
.agent3 {
  background-image: url("./assets/agent3.jpeg");
  background-position: 65% 15%;
  background-size: 130%;
}
.agent4 {
  background-image: url("./assets/agent4.jpeg");
  background-size: cover;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
